@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
  color: black;
  background-image: url(../img/back.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-header {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero-header h1 {
  color: white;
  font-size: 100pt;
}

.hero-header h1 .orange {
  color: orange;
}

.text-container {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #353535;
  width: 100%;
}

.text-container p {
  color: white;
  padding: 30px;
  font-weight: 500;
  font-size: 16pt;
  margin: 0;
}

.who {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 40pt;
}

.who p {
  color: white;
}

.who a {
  text-decoration: none;
  color: orange;
}

.who a:hover {
  color: #a55b01;
}

.faq-panel {
  width: 100%;
  height: 200px;
  background-image: url(../img/faq.jpg);
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-panel p {
  color: white;
  font-size: 40pt;
  font-weight: 500;
  color: #ffa200;
}

.faq {
  background-color: #353535;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.faq .in {
  padding: 30px;
}

.faq h3 {
  color: #ffa200;
  font-size: 20pt;
}

.faq h4 {
  color: #ffa200;
}

.faq p {
  color: white;
}

.index-nav {
  position: absolute;
  top: 1400px;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-nav a {
  color: white;
  margin-left: 40px;
  font-size: 25pt;
  text-decoration: none;
}

.index-nav a:hover {
  color: orange;
}

.contact-body {
  background-color: #353535;
}

.contact-body h1 {
  text-align: center;
  font-size: 60pt;
  color: #ffa200;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-container .a {
  color: white;
}

.contact-container .a h2 {
  color: #ffa200;
}

.contactform-container {
  margin-left: 50%;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactform-container input[type="text"],
.contactform-container textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}

.contactform-container input[type="submit"] {
  background-color: #ffa200;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 19pt;
  cursor: pointer;
}

.contactform-container input[type="submit"]:hover {
  background-color: #8a5404;
}
/*# sourceMappingURL=style.css.map */